html
{
	height: 100%;
	box-sizing: border-box;
}

body 
{
	position: relative;
	margin: 0;
	padding-bottom: 6rem;
	min-height: 100%;
	background: url(./sfondo.jpg) repeat center 0; 
	color: black;
	text-align: center; 
	background-size: 100% 100%;
}

*, *:before, *:after 
{
	box-sizing: inherit;
}

h1 
{
	color:#87CEEB;
	font-family: courier;
	font-size: 60px;
	text-transform: capitalize;
	text-shadow: 3px 2px 2px #663399;
	margin: 30px;
}
#menu 
{
	background:url(./sfondo1.jpg) center 0;
	height: 100%;
	width: 0px;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 70px;
	text-align:left;
}

#menu a 
{
	font-family: courier;
	font-weight: bold;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	padding: 16px 8px 16px 16px;
	text-decoration: none;
	font-size: 35px;
	color: #87CEEB;;
	display: block;
	transition: 0.3s;
}

#menu a:hover 
{
	color: #f1f1f1;
	background-color: black;
}

#menu .close_menu 
{
	color: white;
	cursor: pointer;
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 25px;
	text-align:center;
	margin-left: 50px;
	padding: 8px 8px 8px 8px;  
}

#main_page 
{
	transition: margin-left .5s;
	padding: 16px;
}

a 
{
	margin-left: 10px;
	font-size: 19px;
	font-family: verdana;
	color: white;
	text-decoration: none; 
}


span
{
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	color: white;
	font-size:40px;
	cursor:pointer;
	position:absolute;
	left: 35px;
	top: 25px;
}

p
{
	color: white;
	font-weight: bold;
	font-family: courier;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	font-size: 22px;
	padding: 10px;
	margin-left: 15px;
	margin-right: 15px;
	text-align: center;
}

#introduzione 
{
	margin-top: 5px;
	font-family: courier;
}
 

.foto1 {
	position: relative;
	float: left;
	display: table;
	margin: 20px auto;
}


.foto1 img 
{
	width: 170px;
	height: auto;
	margin-left: 40px;
}

.foto1 p 
{ 
	position: relative;
	left: 22px;
	bottom: 25px;
	
}

.foto2 
{ 	
	margin-top: 50px;
	margin-right: 230px;
}

.foto2 p 
{ 
	position: relative;
	left: 22px;
	bottom: 25px;
}


.foto2 img 
{
	width: 170px;
	height: auto;
}

.foto3 
{ 
	float: right; 
    position: relative;
	bottom: 262px;
    
}

.foto3 p 
{ 
	position: relative;
	right: 25px;
	bottom: 25px;
}


.foto3 img {
	width: 170px;
	height: auto;
	margin-right: 70px;
}

.foto4 
{ 
	float: left; 
    position: relative;
	bottom: 65px;
	left: 135px;
    
}

.foto4 p 
{ 
	position: relative;
	right: 30px;
	bottom: 25px;
}


.foto4 img {
	width: 170px;
	height: auto;
	margin-right: 70px;
}

.foto5 
{ 
	float: right; 
    position: relative;
	bottom: 65px;
	right: 40px;
    
}

.foto5 p 
{ 
	position: relative;
	right: 30px;
	bottom: 25px;
}


.foto5 img 
{
	width: 170px;
	height: auto;
	margin-right: 70px;
}


footer 
{
	
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	margin-left:0px;
    text-align: center;
   	padding: 16px;
	font-size: 10px;
	font-family: verdana;
	color:#00bfff;
	margin-top: 15px;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	
}

