html
{
	height: 100%;
	box-sizing: border-box;
}

body 
{
	position: relative;
	margin: 0;
	padding-bottom: 6rem;
	min-height: 100%;
	background: url(./sfondo.jpg) repeat center 0; 
	text-align: center;
}

*, *:before, *:after 
{
	box-sizing: inherit;
}

h1 
{
	font-family: comics-sans;
	font-size: 50px;
	color: #99cbff;
	text-transform: capitalize;
	text-shadow: 3px 2px 2px black;
	margin: 0px;
}

h2
{
	font-family: comics-sans;
	font-size: 20px;
	color: white;
	text-align: center;
	text-shadow: 3px 2px 2px black;
}

footer 
{
	
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	margin-left:0px;
    text-align: center;
    padding: 16px;
	font-size: 10px;
	font-family: verdana;
	color:#00bfff;
	margin-top: 15px;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	
}